<h1>Play</h1>
<p>Select your weapon of mass destruciotn!</p>
<form action="/rps_form">
  <p>Player 1</p>
  <select class="col-md-3" name="player1">
    <option>rock</option>
    <option>paper</option>
    <option>scissors</option>
  </select>
  <p>Player 2</p>
  <select class="col-md-3" name="player2">
    <option>rock</option>
    <option>paper</option>
    <option>scissors</option>
  </select>

  <button type="submit" class="btn btn-primary">Enter</button>
</form>
