<h1>Play</h1>
<p>Select your weapon of mass destruciotn!</p>
<form action="/rps_form">
  <select class="col-md-3" name="player1">
    <option>Rock</option>
    <option>Paper</option>
    <option>Scissors</option>
  </select>
  <select class="col-md-3" name="player2">
    <option>Rock</option>
    <option>Paper</option>
    <option>Scissors</option>
  </select>

  <button type="submit" class="btn btn-primary">Enter</button>
</form>
